/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  height: 80px;
  background: #5c5757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
}

.hero {
  background-image: url("./components/images/hero-img.jpg");
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.hero h2 {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
}
