/* Global */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #b3abab;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  height: 80px;
  background: #9b4242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
}

.hero {
  background-image: url("./components/images/hero-img.jpg");
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.hero h2 {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 70px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10px;
  justify-items: center;
}
.movie {
  width: 300px;
  margin-top: 15px;
}

.movie img {
  width: 100%;
}
